*{
    box-sizing: border-box;
}

body{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

    /*ABOUT PAGE*/

#background{
    margin: 0;
    background-image: url(img/bg.jpg);
    width: 100%;
    background-size: cover;
    aspect-ratio: 16/9;
}

nav{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden; 
}

.name{
    margin-top: 50px;
    margin-left: 40px;    
}

.name h1, .name p{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.name h1{
    font-size: 24px;
}

.nav-bar{
    margin-top: 50px;
}

.nav-bar a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
}

.nav-bar a:hover{
    opacity: 0.7;
}

.socmed-icons{
    margin-top: 50px;
    margin-right: 40px;
    padding: 20px;
}

.socmed-icons img{
    width: 30px;
    cursor: pointer;
}

.socmed-icons img:hover{
    opacity: 0.8;  
}

#about{
    width: 93%;
    height: 400px;
    margin: auto;
    /*border: 2px solid black;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 20px;
    padding-left: 20px;
    float: left;
}

.image img{
    width: 70%;
    float: left;
    box-shadow: 0px 0px 5px 1px black;
    transition: scale 300ms;
}

.image img:hover{
    scale: 1.2;
}

.space{
    margin-top: 100px;
}

.text-skills{
    text-align: center;
    font-size: 50px;
}

.box-skills{
    width: 80%;
    height: 400px;
    margin: auto;
    background-image: url(img/bgskills.jpg);
    background-size: cover;
    opacity: 1;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
    box-shadow: 0px 0px 2px 3px gray;
}

.box-skills img{
    width: 100%;
}

.html{
    text-align: center;
    margin: 0;
    width: 15%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 4px;
    transition: scale 300ms;
}

.css{
    text-align: center;
    margin: 0;
    width: 15%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 4px;
    transition: scale 300ms;
}

.js{
    text-align: center;
    margin: 0;
    width: 15%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 4px;
    transition: scale 300ms;
}
  
.html:hover, .css:hover, .js:hover{
    scale: 1.2;
}

.about-name h2{
    margin-top: 200px;
    color: #000000;
    font-size: 100px;
    text-align: center;
}

.horizontal-line hr{
    width: 90%;
    height: 3px;
    background-color: gray;
}

.footer-box{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}

.footer-name{
    margin-left: 40px;
    padding: 20px;
}

.footer-name p{
    font-size: 18px;
    position: relative;
    bottom: 15px;
}

.footer-icons{
    margin-right: 40px;
    padding: 20px;
}

.footer-icons img{
    width: 30px;
    cursor: pointer;
}

.footer-icons img:hover{
    opacity: 0.8;  
}

    /*PROJECTS PAGE*/

.projects-name h2{
    margin-top: 200px;
    color: #000000;
    font-size: 100px;
    text-align: center;
}


    /*EXPERIENCE PAGE*/

.experience-name h2{
    margin-top: 200px;
    color: #000000;
    font-size: 100px;
    text-align: center;
}

.vertical-box{
/*  border: 2px solid black; */
    height: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-line{
    border-left: 5px solid white;
    box-shadow: 0px 0px 4px 1px gray;
    height: 1300px;
    z-index: -1;
}

.vertical-box h2{
    z-index: 1;
    position: absolute;
    bottom: -20px;
    left: 190px;
    font-size: 30px;
}

.current-background{
    width: 70%;
    padding: 30px;
    height: 300px;
    background-color: gray;
    position: absolute;
    bottom: -338px;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px black;
}

.current-background p{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

p.current-year{
    font-size: 30px;
}


.senior-background{
    width: 70%;
    padding: 30px;
    height: 300px;
    background-color: gray;
    position: absolute;
    bottom: -840px;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px black;
}

.senior-background p{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

p.senior-year{
    font-size: 30px;
}


.junior-background{
    width: 70%;
    padding: 30px;
    height: 300px;
    background-color: gray;
    position: absolute;
    bottom: -1340px;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px black;
}

.junior-background p{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

p.junior-year{
    font-size: 30px;
}

.certificates-box{
    width: 100%;
    height: 700px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.certificates-box h2{
    font-size: 30px;
    position: relative;
    bottom: -20px;
    right: 350px;
}

.html-certificate{
    margin-top: 50px;
    width: 50%;
    height: 500px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.html-certificate img{
    width: 90%;
    box-shadow: 0px 0px 2px 1px gray;
}

.download-box{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.download-box a:hover{
    opacity: 1;
}

a.html-certi{
    width: 150px;
    height: 45px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: 18px;
    border-radius: 2px;
}

a.visit-link{
    width: 150px;
    height: 45px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: 18px;
    border-radius: 2px;
}




    /*CONTACT PAGE*/

.contact-name h2{
    margin-top: 200px;
    color: #000000;
    font-size: 100px;
    text-align: center;
}

.contact-box{
    margin-top: 100px;
    margin: auto;
    width: 70%;
    height: 400px;
    padding: 70px;
    box-shadow: 0px 0px 4px 1px gray;
}

.contact-box :first-child{
    font-size: 24px;
}

.contact-box :nth-child(2){
    font-size: 18px;
    margin-bottom: 50px;
}

.contact-box :nth-child(3){
    font-size: 18px;
}

.contact-box:last-child{
    font-size: 18px;
}

.email{
    font-size: 18px;
    width: 40px;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.email:hover{
    opacity: 1;
}






@media screen and (max-width: 600px){

     /*ABOUT PAGE*/

    #background{
        aspect-ratio: 9/16;
    }

    .name{
        margin-top: 25px;
        margin-left: 20px; 
        font-size: 16px;
    }

    .name h1, .name p{
        font-size: 16px;
    }

    .name h1{
        font-size: 20px;
    }

    .nav-bar{
        position: absolute;
        top: 60px;
        left: 20px;
    }

    .nav-bar a{
        font-size: 17px;
        padding: 5px;
    }

    .socmed-icons{
        margin-top: 25px;
        margin-right: 20px;
        padding: 20px;
    }

    #about{
        width: 93%;
        height: 500px;
        flex-direction: column-reverse;
    }

    .text{
        margin-top: 50px;
        font-size: 16px;
        padding-left: 30px;
    }

    .image img{
        margin-left: 70px;
        margin-top: 90px;
        width: 60%;
    }

        
    .text-skills{
        text-align: center;
        font-size: 35px;
    }

    .box-skills{
        width: 90%;
        height: 800px;
        flex-direction: column;
    }

    .html{
        width: 50%;
    }

    .css{
        width: 50%;
    }

    .js{
        width: 50%;
    }
    
    .about-name h2{
        font-size: 50px;
    }


    .horizontal-line hr{
        width: 90%;
        height: 3px;
    }

    .footer-name{
        margin-left: 0px;
        padding: 20px;
    }

    .footer-name p{
        font-size: 18px;
        position: relative;
        bottom: 15px;
    }

    .footer-icons{
        margin-right: 0px;
        padding: 20px;
    }


     /*PROJECTS PAGE*/

     .projects-name h2{
        font-size: 50px;
    }

    /*EXPERIENCE PAGE*/

    .experience-name h2{
        font-size: 50px;
    }
        
    .vertical-box{
        height: 1700px;
    }
    
    .vertical-box h2{
        position: absolute;
        bottom: 100px;
        left: 20px;
        font-size: 28px;
    }
    
    .current-background{
        width: 90%;
        height: 400px;
        position: absolute;
        bottom: -320px;
    }
    
    .current-background p{
        text-align: center;
    }
    
    .senior-background{
        width: 90%;
        height: 400px;
        position: absolute;
        bottom: -870px;
    }
    
    .senior-background p{
        text-align: center;
    }
       
    .junior-background{
        width: 90%;
        height: 400px;
        position: absolute;
        bottom: -1420px;
    }
    
    .junior-background p{
        text-align: center;
    }

    
    .certificates-box{
        height: 700px;
    }

    .certificates-box h2{
        bottom: -20px;
        right: 0px;
    }

    .html-certificate{
        width: 100%;
        height: 300px;
        padding: 0;
    }

    .html-certificate img{
        width: 100%;
    }

    .download-box{
        margin-top: 20px;
        width: 100%;
    }




        /*CONTACT PAGE*/

    .contact-name h2{
        margin-top: 200px;
        color: #000000;
        font-size: 100px;
        text-align: center;
    }

    .contact-box{
        margin-top: 100px;
        margin: auto;
        width: 70%;
        height: 400px;
        padding: 70px;
        box-shadow: 0px 0px 4px 1px gray;
    }

    .contact-box :first-child{
        font-size: 24px;
    }

    .contact-box :nth-child(2){
        font-size: 18px;
        margin-bottom: 50px;
    }

    .contact-box :nth-child(3){
        font-size: 18px;
    }

    .contact-box:last-child{
        font-size: 18px;
    }

    .email{
        font-size: 18px;
        width: 40px;
        height: 30px;
        padding: 10px;
        border: 1px solid black;
        text-decoration: none;
        color: white;
        background-color: black;
        opacity: 0.8;
    }

    .email:hover{
        opacity: 1;
    }




    /*CONTACT PAGE*/

    .contact-name h2{
        font-size: 50px;
    }

    .contact-box{
        margin-top: 100px;
        margin: auto;
        width: 100%;
        height: 450px;
        padding: 50px;
        box-shadow: 0px 0px 4px 1px gray;
        text-align: center;
    }
    
    .contact-box :first-child{
        font-size: 24px;
    }
    
    .contact-box :nth-child(2){
        font-size: 18px;
        margin-bottom: 50px;
    }
    
    .contact-box:last-child{
        font-size: 18px;
    }
}